.header{
    background-color: #525252;
    background-size: cover!important;
}

nav a{
    color: #ffffff!important;
}

.banner-img{
    background-image: url('../img/faq-banner.png');
    background-size: cover;
}

.imgbox {
    height: 100%;
}
.center-fit {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
}

/* Set height of body and the document to 100% to enable "full page tabs" */
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial;
  }
  
  /* Style tab links */
  .tablink {
    color: black;
    display: flex;
    justify-content: center;
    border: none;
    border-bottom: #1D7A8C solid 2px;
    outline: none;
    cursor: pointer;
    font-size: 17px;
    width: 472px;
    height: 66px;
  }
  
  .tablink:hover {
    background-color:#1D7A8C;
  }
  
  /* Style the tab content (and add height:100% for full page content) */
  .tabcontent {
    color: black;
    display: none;
    text-align: center;
    height: 100%;
  }

  .content{
	display: none;
    width: 894px;
    height: 182.33px;
    text-align: left;
    size: 16px;
    margin-left: 256px;
    align-content: center;
}

footer>.container a{
  color:#ffffff;
  text-decoration: none;
}

#btn-back-to-top{
  color: #525252;
  display: none;
  position: fixed;
  bottom: 20px;
  left: 20px;
  font-size: 200%;
}